:root {
  --header-text: #ffffff;
  --header-text-hover: #ff6c00;

  --btn-bg: transparent;
  --btn-text-light: #ffffff;
  --btn-text-dark: #303030;
  --btn-hover: #ff6c00;

  --social-text: #303030;
  --social-text-hover: #ff6c00;

  --top-text-dark: rgba(157, 164, 189, 0.6);
  --top-text-light: #303030;

  --main-title-color: #ffffff;
  --title-color-light: #303030;
  --title-color-dark: #ffffff;

  --bottom-text-dark: #9da4bd;
  --bottom-text-light: #555555;

  --about-text: #555555;

  --benefits-text: #303030;

  --barbers-text: #ff6c00;

  --copyright-color: #9da4bd;

  --contacts-color: #9da4bd;

  --test: linear-gradient(to right, teal, tomato);
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: var(--test);
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  cursor: pointer;

  background-color: var(--btn-bg);
  width: 160px;
  height: 40px;
  border: 1px solid var(--btn-hover);
  border-radius: 25px;
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/** HEADER **/

.header-link,
.header-phone {
  color: var(--header-text);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.header-link:hover,
.header-link:focus {
  color: var(--header-text-hover);
}

.header-btn {
  color: var(--btn-text-light);
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--btn-hover);
  color: var(--btn-text-light);
}

/** HERO **/

.hero {
}
.hero-list {
}

.hero-item {
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--social-text);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--social-text-hover);
}

.hero-top-text {
  color: var(--top-text-dark);
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}

.hero-bottom-text {
  color: var(--bottom-text-dark);
}

/** ABOUT **/

.about {
}
.about-list {
}

.about-item {
}

.about-top-text {
  color: var(--top-text-light);
}

.about-title {
  color: var(--title-color-light);
}

.about-bottom-text {
  color: var(--bottom-text-light);
}

.about-text {
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: var(--about-text);
}

.about-btn {
  color: var(--btn-text-dark);
}

.about-btn:hover,
.about-btn:focus {
  background-color: var(--btn-hover);
  color: var(--btn-text-light);
}

/** PRICES **/

.prices {
}

.prices-top-text {
  color: var(--top-text-dark);
}

.prices-title {
  color: var(--title-color-dark);
}

.prices-list {
}

.prices-item {
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--bottom-text-dark);
}

.prices-btn {
  color: var(--btn-text-light);
}

.prices-btn:hover,
.prices-btn:focus {
  background-color: var(--btn-hover);
  color: var(--btn-text-light);
}

/** BENEFITS **/

.benefits {
}

.benefits-list {
}

.benefits-item {
}

.count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--benefits-text);
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--benefits-text);
}

.benefits-top-text {
  color: var(--top-text-light);
}

.benefits-title {
  color: var(--title-color-light);
}

.benefits-bottom-text {
  color: var(--bottom-text-light);
}

/** BARBERS **/

.barbers {
}

.barbers-top-text {
  color: var(--top-text-light);
}

.barbers-title {
  color: var(--title-color-light);
}

.barbers-list {
}

.barbers-item {
}

.barbers-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--title-color-light);
}

.barbers-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--barbers-text);
}

/** WORKS **/

.works {
}

.works-top-text {
  color: var(--top-text-light);
}

.works-title {
  color: var(--title-color-light);
}

.works-list {
}

.works-item {
}

/** CONTACTS **/

.contacts {
}

.contacts-title {
  color: var(--title-color-dark);
}

.contacts-address {
  font-style: normal;
}

.contacts-list {
}

.contacts-item {
}

.contacts-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--contacts-color);
}

.contacts-subtitle {
  color: var(--title-color-dark);
}

.contacts-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--contacts-color);
}

/** FOOTER **/

.footer {
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--copyright-color);
}

.footer-list {
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--social-text);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--social-text-hover);
}
